<div id="journal-entry-fields">
 <%= tag :input, :placeholder => "Title", :value => journal_entry ? journal_entry.title : "", :name => "journal_entry[title]", :class => "journal-entry-title" %>
	<select name="journal_entry[location_id]">
		<% current_user.locations.each do |location| %>
			<option<%= ' selected="selected"' if location == journal_entry.location %> value="<%= location.id %>"><%= location.title %></option>
		<% end %>
	</select> 
 <textarea class="journal-entry-body" name="journal_entry[body]"><%= journal_entry ? journal_entry.body : "" %></textarea>
 <%= tag :input, :placeholder => "Day", :value => journal_entry ? journal_entry.day : "", :name => "journal_entry[day]", :class => "journal-entry-day" %>
 <input type="submit" value="Save" />
</div>
