<% if photos.length > 0 %>
	<section id="photos">
		<ul class="autoclear">
			<% photos.each do |photo| %>
				<li>
					<figure class="shadow<%= " hero" if photo === trip.photo %>">
						<img src="<%= photo.url %>" class="photo" data-json="<%= photo.to_json %>" alt="<%= photo["title"] %>" title="<%= photo["title"] %>" />
						<% if photo["title"] != "" %>
							<figcaption>
								<h1><%= photo['title'] %></h1>
							</figcaption>
						<% end %>
					</figure>
				</li>
			<% end %>
		</ul>
	</section>
	<% if current_user === trip.user %> 
			<%= render "admin/global/create_new_link",
				:text => "Add photos",
				:url => new_trip_photos_path(trip)
			%>
			<%= render "admin/global/create_new_link",
				:text => "Edit photos",
				:url =>  photos_edit_path(trip)
			%>
		<% end %>
<% end %>