<article id="trip" class="trip<%= " inline-form " if current_user.owns?(@trip) %>" data-user="<%= @trip.user.to_json %>" data-json="<%= @trip.to_json %>" data-maps="<%= @trip.maps.to_json %>" data-locations="<%= @trip.locations.to_json %>">
	<h1 id="trip-title" class="trip-title"><%= @trip.title %></h1>
	<% if current_user.owns?(@trip) %>
		<%= link_to "Delete trip", user_trip_path(:user_id => @trip.user.slug, :id => @trip.slug), :id => "trip-delete" %>
	<% end %>
	<%= render "admin/global/date_fields", :type => "trip", :obj => @trip %>
	<% if @trip.summary || (!@trip.summary && current_user.owns?(@trip)) %>
		<div id="trip-summary" class="trip-summary">
			<%= @trip.summary %>
		</div>
	<% end %>
	<figure class="trip-map"></figure>
	<%= link_to "Map", user_trip_maps_path(:user_id => @trip.user.slug, :trip_id => @trip.slug), :class => "content-link" %>
	<section class="trip-photos">
		<div class="overflow">
			<% @trip_photos.each do |photo| %>
				<div class="photo">
					<img src="<%= photo.small %>" />
				</div>
			<% end %>
		</div>
		<%= link_to "", user_trip_photos_path(:user_id => @trip.user.slug, :trip_id => @trip.slug), :class => "trip-photos-link" %>
	</section>
	<section class="trip-posts">
		<% @trip_posts.each do |post| %>
			<article id="post" class="post" data-json="<%= post.to_json %>">
				<% if post.title %>
					<h1 id="post-title" class="post-title"><%= post.title %></h1>
				<% end %>
					<h2 class="post-date"><%= post.date_string %></h2>
				<div id="post-body" class="post-body">
					<%= post.body.html_safe %>
				</div>
			</article>
		<% end %>
	</section>
</article>
