<article id="trip" class="trip<%= " inline-form " if current_user.owns?(@trip) %>" data-user="<%= @trip.user.to_json %>" data-json="<%= @trip.to_json %>" data-maps="<%= @trip.maps.to_json %>" data-locations="<%= @trip.locations.to_json %>">
	<div class="right">
		<figure class="trip-map">
			<%= link_to user_trip_maps_path(:user_id => @trip.user.slug, :trip_id => @trip.slug), :class => "content-link" do %>
				<div id="trip-google-map" class="google-map"></div>
				<figcaption>Map</figcaption>
			<% end %>
		</figure>
		<figure class="trip-photos">
			<%= link_to user_trip_photos_path(:user_id => @trip.user.slug, :trip_id => @trip.slug), :class => "trip-photos-link" do %>
				<div class="overflow">
					<% @trip_photos.each do |photo| %>
						<div class="photo">
							<img src="<%= photo.square %>" width="250" />
						</div>
					<% end %>
				</div>
				<figcaption><%= @trip.photos.count %> photos</figcaption>
			<% end %>
		</figure>
	</div>
	<header class="trip-header autoclear">
		<figure class="trip-photo left">
			<img src="<%= @trip.picture.square %>" id="trip-image" width="100" alt="" />
			<% if current_user.owns?(@trip) %>
				<figcaption id="change-trip-photo">
					Change photo
				</figcaption>
			<% end %>
		</figure>
		<h1 id="trip-title" class="trip-title"><%= @trip.title %></h1>
		<% if current_user.owns?(@trip) %>
			<form method="post" action="/dave-and-melissa/<%= @trip.slug %>/merge">
				<select name="merge_trip_id">
					<% current_user.trips.each do |trip| %>
						<option value="<%= trip.slug %>"><%= trip.title %></option>
					<% end %>
				</select>
				<input type="submit" value="Merge trips" />
			</form>
			<%= link_to "Delete trip", user_trip_path(:user_id => @trip.user.slug, :id => @trip.slug), :id => "trip-delete" %>
		<% end %>
		<%= render "admin/global/date_fields", :type => "trip", :obj => @trip %>
	</header>
	<% if @trip.summary || (!@trip.summary && current_user.owns?(@trip)) %>
		<div id="trip-summary" class="trip-summary">
			<%= @trip.summary %>
		</div>
	<% end %>
	<section class="trip-posts">
		<% @trip_posts.each do |post| %>
			<article id="post" class="post" data-json="<%= post.to_json %>">
				<% if post.title %>
					<h1 id="post-title" class="post-title"><%= post.title %></h1>
				<% end %>
				<h2 class="post-date"><%= post.date_string %></h2>
				<div id="post-body" class="post-body">
					<%= post.body.html_safe %>
				</div>
			</article>
		<% end %>
	</section>
</article>
