<article id="trip" class="trip<%= " inline-form " if current_user.owns?(@trip) %>" data-user="<%= @trip.user.to_json %>" data-json="<%= @trip.to_json %>" data-maps="<%= @trip.maps.to_json %>" data-locations="<%= @trip.locations.to_json %>">
	<h1 class="trip-title"><%= @trip.title %></h1>
	<h2 class="trip-date"><%= @trip.date_string %></h2>
	<figure class="trip-map"></figure>
	<%= link_to "", user_trip_maps_path(:user_id => @trip.user.slug, :trip_id => @trip.slug), :class => "content-link" %>
	<section class="trip-photos">
		<div class="overflow">
			<% @trip_photos.each do |photo| %>
				<div class="photo">
					<img src="<%= photo.small %>" />
				</div>
			<% end %>
		</div>
		<%= link_to "", user_trip_photos_path(:user_id => @trip.user.slug, :trip_id => @trip.slug), :class => "trip-photos-link" %>
	</section>
	<section class="trip-posts">
		<% @trip_posts.each do |post| %>
			<%= render "posts/show", :post => post %>
		<% end %>
	</section>
</article>
