<article id="trip" class="<%= "inline-form " if current_user.owns?(@trip) %>autoclear grid-20-75" data-user="<%= @trip.user.to_json %>" data-json="<%= @trip.to_json %>" data-maps="<%= @trip.maps.to_json %>" data-locations="<%= @trip.locations.to_json %>">
	<header>
		<hgroup>
			<h1 class="trip-title" id="page-title">
				<% if !current_user.owns?(@trip) %>
					<%= @trip.title %>
				<% else %>
					<textarea id="trip-title" class="field"><%= @trip.title %></textarea>
				<% end %>	
			</h1>
			<h2><%= @trip.date_string %></h2>
		</hgroup>
	</header>
	<% if current_user === @trip.user %>
		<%= render "admin/trips/footer", :trip => @trip, :trip_photos => @trip.photos %>
	<% end %>
	<figure class="locations">
		<figcaption>
			<h1>
				<ul>
					<% @trip.locations.each do |location, idx| %>
						<li><%= location.geo_string %></li>
					<% end %>
				</ul>
			</h1>
		</figcaption>
		<div id="trip-locations" class="map shadow"></div>
	</figure>
	<% if @trip.maps? %>
		<figure class="maps">
			<%= link_to user_trip_maps_path(:user_id => @trip.user.slug, :trip_id => @trip.slug) do %>
				<figcaption>
					<h1>Maps</h1>
					<% if current_user === @trip.user %>
						<%= render "admin/global/create_new_link", 
							:text => "Add New Map", 
							:url => new_map_path(@trip) %>
						<% end %>
				</figcaption>
				<div id="trip-maps" class="map shadow"></div>
			<% end %>
		</figure>
	<% end %>
	<%= render "trips/photos", :photos => @trip.photos, :trip => @trip %>
	<% if @trip.journals.count > 0 %>
		<section id="posts">
			<% @trip.journals.each_with_index do |entry, idx| %>
				<section class="post">
					<h1><%= entry.title %></h1>	
					<div><%= entry.body.html_safe %></div>
				</section>
			<% end %>
		</section>
	<% end %>
</article>