<section id="trip" data-json="<%= @trip.to_json %>">
	<header class="autoclear">
		<h1 class="left" id="page-title">Maps for <%= @trip.title %></h1>
		<%= render "admin/global/create_new_link", 
			:text => "Create New Map", 
			:url => new_map_path(@trip) %>
	</header>
	<section id="maps">
		<% @trip.maps.each do |map| %>
			<article class="map" data-json="<%= map.to_json %>">
				<h1><%= map.title %></h1>
				<figure>
					<div class="google-map"></div>
					<% if map.description %>
						<figcaption>
							<%= map.description %>
						</figcaption>
					<% end %>
				</figure>
				<%= link_to "Edit Map", edit_map_path(map), :class => "edit-link" %>
				<a class="remove">X</a>
			</article>
		<% end %>
	</section>
	<i></i>
</section>