<div id="trip" data-json="<%= @trip.to_json %>">
	<header id="content-header" class="autoclear">
		<%= render "admin/global/breadcrumb", 
			:trip => @trip,
			:page => "Maps" 
			%>
		<%= render "admin/global/create_new_link", 
			:text => "Create New Map", 
			:url => new_map_path(@trip) %>
	</header>
	<section id="maps" class="autoclear content-grid two-col">
		<% @trip.maps.each do |map| %>
			<article class="map rounded content" data-json="<%= map.to_json %>">
				<form class="inline-form">
					<h1><textarea class="content-title field autosize map-title" placeholder="Enter Title"><%= map.title %></textarea></h1>
					<%= render "admin/global/date_fields", :obj => map, :type => "map" %>
					<figure>
						<div class="google-map"></div>
						<%= link_to "Edit Map", edit_map_path(map), :class => "edit-link" %>
						<figcaption>
							<textarea class="field autosize map-description" placeholder="Enter Description"><%= map.description %></textarea>
						</figcaption>
					</figure>
					<a class="remove"></a>
				</form>
			</article>
		<% end %>
	</section>
</div>