<div id="location-fields" data-user="<%= user.to_json  %>" data-json="<%= location.to_json %>" class="location">
  <p id="server-messages" class="messages"></p>
  <section id="location-photos">
    <div id="photo-container"></div>
    <input type="file" class="photo_upload" multiple="multiple" />
  </section>
  <fieldset id="location-geo">
    <p id="location-city" class="city"><%= location.city %></p>
    <p id="location-state" class="state"><%= location.state %></p>
    <%= render "global/country_field", :object => location, :object_type => "location" %>
    <a class="show-map">New location</a>
    <p class="note">Where was your trip? You can fill in the data or use the map to select.</p>
  </fieldset>
  <input type="submit" value="Save" />
</div>

<% content_for :scripts_footer do %>
 <%= javascript_include_tag "admin/admin" %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
  
  var loc = new Location(JSON.parse(document.getElementById("location-fields").getAttribute("data-json"))),
  user = User.createFromDataAttribute(document.getElementById("location-fields"), "data-user");
  loc.setUser(user);

  var form = new LocationForm({
   el: document.getElementById("location-form"),
   model: loc
  }).render()

  })
 </script>
<% end %>
