<article id="location" class="form" data-json="<%= location.to_json %>">
	<header>
		<h1 id="page-title">
			<input type="text" id="location-title" placeholder="Title" value="<%= location.title %>" />
		</h1>
		<% if !location.new_record? %>
			<nav>
				<ul>
					<li><%= link_to "Add Photos", new_location_photos_path(location) %></li>
					<% if location.photos.count > 0 %>
						<li><%= link_to "Edit Photos", photos_edit_path(location) %></li>
					<% end %>
					<li><%= link_to "Add Maps", "#" %></li>
					<% if location.maps.count > 0 %>
						<li><%= link_to "Edit Maps", "#" %></li>
					<% end %>
				</ul>
			</nav>
			<a id="delete-location" class="remove">X</a>
		<% end %>
	</header>
	<section id="geo">
		<a id="edit-location" href="#">Edit Location</a>
		<h1 id="location-geo"><%= location.geo_string %></h1>
		<figure class="clear">
			<div id="map" class="clear"></div>
			<figcaption>
				<input type="button" id="map-edit-done" value="Done Editing Map" />
			</figcaption>
		</figure>
	</section>
	<footer class="buttons">
		<input id="location-save" type="button" value="Save Trip" />
	</footer>
</article>