<section id="location" data-json="<%= @location.to_json %>">
	<h1>Manage photos for <%= @location.to_s %></h1>
	<%= render "admin/locations/photo_uploader", :location => @location %>
	<section id="location-photos" data-json="<%= @location.photos.to_json %>">
		<% @location.photos.each do |photo| %>
			<figure class="photo" id="photo-<%= photo.id %>">
				<a class="remove">X</a>
				<img src="<%= photo.url %>" width="200" />
				<figcaption>
					<input type="text" value="<%= photo.title %>" placeholder="Title" class="title" />
					<textarea placeholder="Description" class="description"><%= photo.description %></textarea>
				</figcaption>
			</figure>
		<% end %>
		<footer>
			<input type="button" class="save" value="Save photos for <%= @location.to_s %>" />
		</footer>
	</section>
</section>