<article class="status autoclear" data-json="<%= status.to_json %>">
    <%= link_to user_path(status.user), :title => status.user.name do %>
        <img src="<%= status.user.photo.url %>" class="left" width="50" />
    <% end %>
    <h1 class="text"><%= status.text %></h1>
    <p class="timestamp"><%= time_ago_in_words(status.created_at) %> ago</p>
    <h5 class="location"><%= location_string_for_status(status.location).html_safe %></h5>
    <% if current_user.owns?(status) %>
    	<div class="toolbar">
    		<ul>
    			<li><a class="remove">Delete</a></li>
    		</ul>
    	</div>
    <% end %>
</article>