<% if @trip %>
	<header>
		<%= render "admin/global/breadcrumb", :trip => @trip, :page => "Map" %>
	</header>
<% end %>

<section>
	<% if current_user.owns?(@trip) %>
		<p class="note">
			Drag map file(kml or gpx) onto map or <input type="file" id="map-input-button" />
		</p>
	<% end %>
	<figure data-user="<%= @user.to_json %>" data-locations="<%= (@locations || []).to_json %>" data-json="<%= @maps.to_json %>" data-maps="<%= (@trip.maps || []).to_json %>" data-trip="<%= @trip.to_json %>" id="map" class="map shadow"></figure>
</section>