<% if !(current_user.incomplete? || current_user.anonymous?) %>
	<section id="user-info" class="autoclear">
		<header>
			<%= link_to user_path(current_user.slug) do %>
				<img src="<%= current_user.photo.url %>" class="user-image" />
				<h1><%= "Hi, #{current_user.name}" %></h1>
			<% end %>
		</header>
		<a class="control" id="user-dropdown-control">
			<span class="arrow"></span>
		</a>
	    <nav class="dropdown" id="user-nav">
	    	<ul>
				<% current_user.visited_locations.each do |location| %>
					<li>
						<%= link_to location_path(location), {:class=>"autoclear"} do %>
							<h2><%= location.title %></h2>
							<img src="<%= location.photo_url %>" />
						<% end %>
					</li>
				<% end %>
			</ul>
	    	<ul>
	    		<li><%= link_to "My Account", me_path %></li>
	     		<li><%= link_to "Logout", logout_path %></li>
	     	</ul>
	    </nav>
	</section>

	<% content_for :scripts_footer do %>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				new DropDown({
					el:document.querySelector("#user-info .dropdown"),
					control:document.querySelector("#user-info .control")
				}).render()
			})
		</script>
	<% end %>
<% end %>

