<% if !(current_user.incomplete? || current_user.anonymous?) %>
	<section id="user-info" class="autoclear">
		<header>
			<%= link_to me_path do %>
				<img src="<%= current_user.photo.url %>" class="user-image rounded" />
				<h1><%= "Hi, #{current_user.name}" %></h1>
			<% end %>
		</header>
		<a class="control" id="user-dropdown-control">
			<span class="arrow"></span>
		</a>
	    <nav class="dropdown" id="user-nav">
	    	<ul>
	    		<li><%= link_to "My Account", me_path %></li>
	     		<li><%= link_to "Logout", logout_path %></li>
	     	</ul>
	    </nav>
	</section>
<% else %>
	<section id="user-info" class="autoclear">
		<%= link_to login_path("facebook") do %>
			<%= image_tag "facebook-connect.png" %>
		<% end %>
	</section>
<% end %>

