 <section id="user" data-json="<%= @user.to_json %>" data-realms="<%= @user.realm_accounts.to_json %>">
  <div id="user-map"></div>
  <header id="user-header">
    <hgroup>
      <%= image @user.photo_url %>
      <h1>Hello, <%= @user.name %></h1>
      <section>
        <%= @user.city %>, <%= @user.country_name %>
      </section>
    </hgroup>
    <%= link_to "Edit", edit_me_path %>
  </header>
  
  
  <section id="location-types">
   <header>Your travel categories</header>
   <table id="user-location_types" data-json="<%= @user.location_types.to_json %>">
    <% @user.location_types.each do |type| %>
      <tr class="location-type" data-json="<%= type.to_json %>">
        <td>
          <% if type.icon_url %>
            <%= image_tag type.icon_url %>
          <% end %>
        </td>
        <td>
          <%= link_to type.title, user_location_type_path(:user_id => type.user.slug, :id => type.slug) %>
        </td>
        <td>
          <%= type.locations.count %> locations
          <%= link_to "Create new", new_location_path(type) %>
        </td>
        <td>
          <a class="remove">x</a>
        </td>
      </tr> 
    <% end %> 
   </table>
   <%= link_to "Add new location type", new_location_type_path(:user_id => @user.slug) %>
  </section>
  <section id="locations">
   <header>Your trips</header>
   <table id="user-locations" data-json="<%= @user.locations.to_json %>">
    <% @user.locations.each do |location| %>
      <tr class="location" data-json="<%= location.to_json  %>">
        <td>
          <% if location.photo_url %>
            <%= image_tag location.photo_url %>
          <% end %>
        </td>
        <td>
          <%= link_to location.title, location_path(location) %> 
        </td>
        <td>
          <%= location.journal_entries.count %> journal entries
        </td>
        <td>
          <a class="remove">x</a>
        </td>
      </tr>
    <% end %> 
   </table>
  </section>
 </section>

<% content_for :scripts_footer do %>
  <%= javascript_include_tag "admin/admin" %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
   var userJson = JSON.parse( document.getElementById("user").getAttribute("data-json") ),
   user = new User(userJson),
   locationTypesJSON = JSON.parse( document.getElementById("user-location_types").getAttribute("data-json")  ),
   userLocationTypes = new LocationTypeCollection(locationTypesJSON),
   locationsJSON = JSON.parse( document.getElementById("user-locations").getAttribute("data-json") ),
   userLocations = new LocationCollection(locationsJSON),
   locationTypeList = new LocationTypeTable({
    el: document.getElementById("user-location_types"),
    collection: userLocationTypes,
    user: user
   }).render(),
   locationList = new LocationTable({
    collection: userLocations,
    locationTypes: userLocationTypes,
    user: user,
    el: document.getElementById("user-locations")
   }).render()
  })
 </script>
<% end %>
