<section id="user" data-json="<%= @user.to_json %>">
	<header id="user-header" class="autoclear">
		<img src="<%= @user.photo.url %>" class="rounded" />
		<h1><%= @user.name %>'s Travels</h1>
		<p><%= @user.description %></p>
	</header>
	<section id="trips">
		<% @user_trips.each_pair do |year, trips| %>
			<section class="year">
				<h1 class="year-title"><%= year %></h1>
				<% trips.each do |trip| %>
					<article class="trip">
						<%= link_to trip_path(trip) do %>
							<h1><%= trip.title %></h1>
							<img src="<%= trip.picture.url %>" class="rounded" />
						<% end %>
					</article>
				<% end %>
			</section>
		<% end %>
	</section>
</section>