<section>
	<header>
		<h1><%= @user.name %></h1>
		<img src="<%= @user.photo.large %>" />
		<span id="user-geo"><%= @user.city %>, <%= @user.country_name %></span>
		<%= @user.name %> has visited <%= @user.countries_count %> countries
	</header>
	<section>
		<% @user.locations.each do |location| %>

		<% end %>
	</section>
</section>

<% content_for :scripts_footer do %>

<% end %>