<h1 id="page-title"><%= @user.name %>'s Map</h1>
<% if current_user === @user %>
	<%= render "admin/global/create_new_link", 
        :text => "Add a trip", 
        :url => new_trip_path %>
<% end %>
<figure id="map" class="map shadow"></figure>
<section id="trips">
	<% @user_trips.each_pair do |year, trips| %>
		<section class="year">
			<h1 class="year-title"><%= year %></h1>
			<% trips.each do |trip| %>
				<article class="trip" data-json="<%= trip.to_json %>" data-locations="<%= trip.locations.to_json %>" data-maps="<%= trip.maps.to_json %>">
					<%= link_to trip_path(trip) do %>
						<h1><%= trip.title %></h1>
						<img src="<%= trip.picture.url %>" class="shadow rounded" />
						<% if current_user.owns?(trip) %>
							<%= link_to "Edit", edit_trip_path(trip), :class => "edit-link" %>
						<% end %>
					<% end %>
				</article>
			<% end %>
		</section>
	<% end %>
</section>