<section id="trips">
	<% if @user_trips.length === 0 %>
		<div class="no-trips">
			<%= render "admin/global/create_new_link",
				:text => "Add first trip",
				:url => new_user_trip_path(current_user.slug)
			%>
		</div>
	<% else %>
		<% @user_trips.keys.sort.reverse.each do |year| %>
			<section class="year content-grid two-col">
				<header class="row">
					<h1 class="year-title"><%= year %></h1>
					<%= render "admin/global/create_new_link",
						:text => "Create new trip",
						:url => new_user_trip_path(current_user.slug)
					%>
					<h2 class="trips-count"><%= pluralize(@user_trips[year].length, 'Trip') %></h2>
				</header>
				<div class="autoclear">
					<% @user_trips[year].each do |trip| %>
						<%= render "global/trip_grid", :trip => trip %>
					<% end %>
				</div>
			</section>
		<% end %>
	<% end %>
</section>