<section id="user" data-json="<%= @user.to_json %>">
	<header>
		<img src="<%= @user.photo.large %>" class="left" />
		<hgroup>
			<h1><%= @user.name %></h1>
		</hgroup>
		<p><%= @user.description %></p>
	</header>
	<section id="user-stats" class="left clear-left"> 
		<% if @user.location? %>
			<section id="user-geo">
				<h1>
					<%= "#{@user.city}, " if !@user.city.blank? %><%= @user.country_name %>
				</h1>
				<img src="<%= static_map_url @user.latitude, @user.longitude, :width => 90, :height => 90 %>" />
			</section>
		<% end %>
		<ul>
			<li><%= @user.locations.count %> Locations</li>
			<li><%= @user.countries_count %> Countries</li>
		</ul>
	</section>
	<section id="user-travel">
		<ul>
            <% @user.statuses.order("created_at DESC").each do |status| %>
                <li>
                    <%= render "statuses/status", :status => status %>
                </li>
            <% end %>
        </ul>
	</section>
</section>