<header id="content-header">
	<%= render "admin/global/breadcrumb", 
		:trip => @trip, 
		:page => "Journal" 
		%>
	<%= render "admin/global/create_new_link", 
		:text => "Write New Journal Entry", 
		:url => new_journal_path(@trip.slug) %>
</header>
<section id="journals" class="content-grid two-col" data-trip="<%= @trip.to_json %>">
	<% @journals.each do |journal| %>
		<article class="journal rounded content" data-json="<%= journal.to_json %>">
			<form class="inline-form">
				<h1><textarea class="content-title field journal-title"><%= journal.title %></textarea></h1>
				<%= render "admin/global/date_fields", :obj => journal, :type => "journal" %>
				<section class="body"><%= truncate_html(journal.body, :length => 800).html_safe %></section>
				<%= link_to "Edit", edit_journal_path(:trip_id => @trip.slug, :journal_id => journal.slug), :class => "edit-link" %>
				<a class="remove"></a>
			</form>
		</article>
	<% end %>
</section>