<aside id="trip-links" class="autoclear">
	<section id="trip-journal" class="content rounded shadow">
		<% if trip.journals.count > 0 %>
			<h1>Journal</h1>
			<article>
				<%= truncate_html(trip.newest_journal.body, :length => 50) %>
				<i class="mask"></i>
			</article>
			<%= link_to "", user_trip_journals_path(:user_id => trip.user.slug, :trip_id => trip.slug), :class => "content-link" %>
		<% else %>
			<h2>Create journal</h2>
			<%= link_to "", new_user_trip_journal_path(:user_id => trip.user.slug, :trip_id => trip.slug), :class => "content-link" %>
		<% end %>
	</section>
	<section id="trip-geo" class="content rounded shadow">
		<figure id="trip-map" class="map clear"></figure>
		<%= link_to "", user_trip_maps_path(:user_id => trip.user.slug, :trip_id => trip.slug), :class => "content-link" %>
	</section>
	<section id="trip-photos" class="content rounded shadow">
		<% if trip.photos.count > 0 %>
			<h1>Photos</h1>
			<div class="overflow">
				<% trip_photos.each do |photo| %>
					<div class="centered image rounded">
						<img src="<%= photo.small %>" />
					</div>
				<% end %>
			</div>
			<%= link_to "", user_trip_photos_path(:user_id => trip.user.slug, :trip_id => trip.slug), :class => "content-link" %>
		<% elsif current_user.owns?(trip) %>
			<h2>Upload photos</h2>
			<%= link_to "", new_user_trip_photo_path(:user_id => trip.user.slug, :trip_id => trip.slug), :class => "content-link" %>
		<% end %>
	</section>
</aside>