<article id="trip" class="autoclear" data-maps="<%= @trip.maps.to_json %>" data-json="<%= @trip.to_json %>" data-locations="<%= @trip.locations.to_json %>">
	<header id="trip-header" class="content-grid left">
		<form id="trip-form" class="autoclear inline-form">
			<h1 id="page-title"><textarea id="trip-title" class="field"><%= @trip.title %></textarea></h1>
			<%= render "admin/global/date_fields", :obj => @trip, :type => "trip" %>
			<figure id="trip-photo" class="content rounded">
				<% if @trip.picture %>
					<img src="<%= @trip.picture.large %>" id="trip-image" />
				<% end %>
				<% if @trip.photos.length > 0 %>
					<figcaption>
						<a href="#" id="change-trip-photo">Change photo</a>
					</figcaption>
				<% end %>
			</figure>
			<a id="trip-delete" class="remove"></a>
		</form>
	</header>
	<%= render "admin/trips/footer", :trip => @trip, :trip_photos => @trip_photos %>
	<a id="delete-location" class="remove">X</a>
</article>