<header id="content-header">
	<%= render "admin/global/breadcrumb",
		:trip => @trip,
		:page => "Photos"
	%>
	<%= render "admin/global/create_new_link",
		:text => "Add photos",
		:url => new_trip_photos_path(@trip)
	%>
</header>
<section id="trip" data-json="<%= @trip.to_json %>">
	<section id="trip-photos" class="content-grid autoclear two-col">
		<% @trip.photos.each do |photo| %>
			<figure class="photo rounded content" id="photo-<%= photo.id %>" data-json="<%= photo.to_json %>">
				<form class="inline-form">
					<textarea placeholder="Enter Title" class="field autosize photo-title"><%= photo.title %></textarea>
					<div class="image-wrapper">
						<a class="remove"></a>
						<img src="<%= photo.url %>" width="200" w />
					</div>
					<figcaption>
						<textarea placeholder="Enter Description" class="field autosize photo-description"><%= photo.description %></textarea>
					</figcaption>
				</form>
			</figure>
		<% end %>
	</section>
	<% if @trip.photos.count > 3 %>
		<div class="right autoclear">
			<%= render "admin/global/create_new_link",
				:text => "Add photos",
				:url => new_trip_photos_path(@trip)
			%>
		</div>
	<% end %>
</section>