<section id="photos" class="content-grid">
	<header class="row">
		<%= render "admin/global/breadcrumb", :trip => @trip, :page => "Photos" %>
		<% if current_user.owns?(@trip) %>
			<%= render "admin/global/create_new_link",
				:text => "Add photos",
				:url => new_user_trip_photo_path(:user_id => @trip.user.slug, :trip_id => @trip.slug) %>
		<% end %>
	</header>
	<section id="trip-photos" data-infinite="<%= photo_index_infinite_path %>" data-json="<%= @trip.to_json %>" class="autoclear content-grid three-col">
		<% @photos.each do |photo| %>
			<%= render "photos/grid", :photo => photo %>
		<% end %>
	</section>
</section>