<article class="story post">
	<%= link_to user_post_path(:user_id => story.user.slug, :id => story.slug), :class => "story-link" do %>
		<h2 class="story-date"><%= story.date_string %></h2>
		<h1 class="story-title"><%= story.title %></h1>
		<div class="story-body post-body"><%= truncate_html(story.body, :length => 1200) %></div>
	<% end %>
	<% if story.body.length > 1200 %>
		<footer class="story-footer">
			<ul>
				<li><%= link_to "Continue Reading", user_post_path(:user_id => story.user.slug, :id => story.slug) %></li>
			</ul>
		</footer>
	<% end %>
</article>