<header>
	<%= render "admin/global/breadcrumb", :trip => @trip, :page => "Journal" %>
</header>
<section class="pad-down">
	<% @journals.each do |journal| %>
		<article class="journal">
			<% if journal.title %>
				<%= link_to user_trip_journal_path(:user_id => journal.user.slug, :trip_id => journal.trip.slug, :id => journal.slug || journal.id) do %>
					<h1 class="journal-title"><%= journal.title %></h1>
				<% end %>
			<% end %>
			<div class="journal-body"><%= journal.body.html_safe %></div>
			<% if current_user.owns?(journal) %>
				<%= link_to "Edit", edit_user_trip_journal_path(:user_id => journal.user.slug, :trip_id => journal.trip.slug, :id => journal.slug || journal.id) %>
			<% end %>
		</article>
	<% end %>
</section>