<div class="<%= object_type %>-countries-field countries-field">
	<span><%= object.country_name %></span>
	<datalist id="<%= object_type %>-countries">
		<% Country.all.each do |country| %>
			<option data-json="<%= country.to_json %>" value="<%= country.name %>"></option>
		<% end %>
	</datalist>
</div>