<nav id="locations-nav">
  <section id="large-buttons">
   <ul class="container">
      <li>
        <%= link_to "/" do %>
          <img src="/assets/melissa_and_me.jpg" />
        <% end %>
      </li>
    <% locations.first(9).each do |location| %>
     <li<%= ' class="selected"'.html_safe if location == selected %>>
      <%= link_to location_path(location), { 
       "data-location_type" => location.location_type.to_json, 
       "data-json" => location.to_json,
       "data-user" => location.user.to_json,
       "class" => "location",
       "title" => location.title } do %>
        <h2 class="location-title">
         <%= location.title %>
        </h2>
        <%= location_image location %> 
      <% end %>
     </li> 
    <% end %>
   </ul>
 </section>
 <% if locations.length > 9 %>
  <section id="dropdown">
    <header>
      <span></span>
    </header>
    <ul id="locations-nav-dropdown">
      <% locations.slice(9, locations.length).each do |location| %>
        <li<%= ' class="selected"'.html_safe if location == selected %>>
        <%= link_to location_path(location), { 
         "data-location_type" => location.location_type.to_json, 
         "data-json" => location.to_json,
         "data-user" => location.user.to_json,
         "class" => "location",
         "title" => location.title } do %>
          <div class="image">
            <%= image location.photo_url %> 
          </div>
          <h2 class="location-title">
           <%= location.title %>
          </h2>
        <% end %>
       </li>
      <% end %>
    </ul>
  </section>
 <% end %>
</nav>

<% content_for :scripts_footer do %>
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      var dropdown = document.getElementById("dropdown")

      if( dropdown ) {
        var dHeader = dropdown.getElementsByTagName("header").item(0)

        new DropDown({
          el:dropdown,
          control:dHeader
        }).render()
      }
    })
  </script>
<% end %>
