<article class="trip content" data-json="<%= trip.to_json %>" data-locations="<%= trip.locations.to_json %>" data-maps="<%= trip.maps.to_json %>">
    <h1><%= trip.title %></h1>
    <% if trip.picture %>
        <img src="<%= trip.picture.square(400) %>" title="<%= trip.title %>" alt="<%= trip.title %>" />
    <% end %>
    <%= link_to "", trip_path(trip), :class => "content-link trip-link" %>
</article>