<form id="user-form" data-json="<%= user.to_json %>" data-realms="<%= user.realm_accounts.to_json %>">
	<fieldset class="field user-photo">
		<img src="<%= user.photo_url %>" alt="Your photo" title="Your photo" />
	    <label>Your photo</label>
	    <input type="text" class="user-photo_url" value="<%= user.photo_url %>" />
	</fieldset>
	<fieldset>
	    <label>Your name</label>
	    <%= tag :input, :value => user.name, :class => "user-name" %>
	</fieldset>
    <fieldset class="user-geo field">
    	<label>Your hometown</label>
	    <p id="user-city" class="city"><%= user.city %></p>
	    <%= render "global/country_field", :object => user, :object_type => "user" %>
	    <a class="show-map">Change</a>
    </fieldset>
    <input type="submit" value="Update" />
</form>