<section id="user" class="user-welcome" data-json="<%= @user.to_json %>" data-realms="<%= @user.realm_accounts.to_json %>">
    <header id="user-header">
        <div class="user-picture">
			<%= image @user.photo.url %>
			<a class="user-button user-image-button">Change Picture</a>
		</div>
        <h1>Hello, <%= @user.name %></h1>
    </header>

    <section id="user-locations">
        <%= render "admin/users/locations", :user => @user %>
    </section>
    
</section>

<% content_for :scripts_footer do %>
  <%= javascript_include_tag "admin/admin" %>
<% end %>