<section id="user" class="user-welcome" data-json="<%= @user.to_json %>" data-realms="<%= @user.realm_accounts.to_json %>">
    <header id="user-header">
        <%= render "users/image", :user => @user %>
        <hgroup>
            <h1>Hello, <%= @user.name %></h1>
            <%= render "users/location", :user => @user %>
        </hgroup>
    </header>

    <section id="location-form">
        <%= render "admin/locations/form", :location => Location.new, :user => @user %>
    </section>

    <section class="left clear-left">
        <header>Your Travels</header>
        <%= render "admin/users/locations", :user => @user %>
    </section>
</section>

<% content_for :scripts_footer do %>
  <%= javascript_include_tag "admin/admin" %>
<% end %>