<div data-location_type="<%= location.location_type.to_json %>" data-user="<%= location.user.to_json  %>" data-json="<%= location.to_json %>" class="location">
 <section id="location-photo">
  <img src="<%= location.photo_url %>" />
  <%= tag :input, :value => location ? location.photo_url : "", :name => "location[photo_url]", :type => "hidden" %>
 </section>
 <section id="location-meta">
  <%= tag :input, :id => "location-title", :placeholder => "Title", :value => location ? location.title : "", :name => "location[title]" %>
  <%= tag :input, :id => "location-city", :placeholder => "City", :value => location ? location.city : "", :name => "location[city]" %>
  <%= tag :input, :id => "location-country", :placeholder => "Country", :value => location ? location.country : "", :name => "location[country]" %>
  <%= check_box "location", "has_visited", :checked => location && location.has_visited === true ? "checked" : "", :id => "location-visited" %>
  <label for="location-visited">Visited?</label>
  <section id="location-mashup">
   <label>Flickr Set:</label>
   <%= tag :input, :type => "text", :placeholder => "Flickr", :value => location ? location.flickr_set : "", :name => "location[flickr_set]" %>
   <label>KML Url:</label>
   <%= tag :input, :type => "text", :placeholder => "KML", :value => location ? location.kml_url : "", :name => "location[kml_url]" %>
  </section>
  <section id="location-geo">
   <label>Latitude:</label>
   <span id="location-lat-txt"><%= location.latitude %></span>
   <label>Longitude:</label>
   <span id="location-long-txt"><%= location.longitude %></span>
  </section>
  <input type="submit" value="Save" /> 
 </section>
 <section id="flickr-photos">
  <ul>
 
  </ul>
 </section>
 <section id="location-map" style="height:500px"></section>
</div>

<% content_for :scripts_footer do %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
  document.getElementById("location-form").onsubmit = function (e) {
   e.preventDefault()
   loc.jsonPrefix = true
   loc.save()
  }
  var loc = new Location(JSON.parse(document.getElementsByClassName("location")[0].getAttribute("data-json"))),
  locType = new LocationType(JSON.parse(document.getElementsByClassName("location")[0].getAttribute("data-location_type"))),
  user = new User(JSON.parse(document.getElementsByClassName("location")[0].getAttribute("data-user")))
  loc.setLocationType(locType)
  loc.setUser(user)

  loc.on("change", function (e, options) {
   if( options.changes.photo_url ) {
     var photoSection = document.getElementById("location-photo")
     photoSection.getElementsByTagName("img")[0].setAttribute("src", this.get("photo_url")) 
   }

   if( options.changes.city ) { 
    document.getElementById("location-city").setAttribute("value", this.get("city"))
   }

   if( options.changes.country ) { 
    document.getElementById("location-country").setAttribute("value", this.get("country"))
   }
   
   if( options.changes.latitude ) {
    document.getElementById("location-lat-txt").innerHTML = this.get("latitude")
   }
 
   if( options.changes.longitude ) {
    document.getElementById("location-long-txt").innerHTML = this.get("longitude")
   }
  })
 
  loc.photos({
   success:function (e) {
    var photos = []
    if( e.photoset ) {
     $.each(e.photoset.photo, function (idx, e) {
      e.url = function () {
       return "http://farm" + e.farm + ".static.flickr.com/" + e.server + "/" + e.id + "_" + e.secret + ".jpg"
      } 
      e.thumbnail = function (size) { 
       var ary = e.url().split("."),
       index = ary.length - 2
       ary[index] = ary[index] + "_" + size
       return ary.join(".");
      }
      var img = document.createElement("img"),
      li = document.createElement("li"),
      photoUl = document.getElementById("flickr-photos").getElementsByTagName("ul")[0]
      img.setAttribute("src", e.url())
      li.appendChild(img) 
      photoUl.appendChild(li)
      li.addEventListener("click", function () {
       loc.set({photo_url: e.url()})
      })
     })
    }
   }
  })
  var formElem = document.getElementById("location-form"),
    map = new google.maps.Map(document.getElementById("location-map"), {
    zoom: 4,
    center: new google.maps.LatLng(loc.get("latitude"), loc.get("longitude")),
    mapTypeId: google.maps.MapTypeId.HYBRID
   })
   new LocationMarker({
    model:loc,
    map:map,
    locationType:locType
   }).render()
   google.maps.event.addListener(map, "click", function (mapEvent) {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({latLng:mapEvent.latLng}, function (e) {
     var address = (function () {
      var hash
      for(var i in e) {
       if( e[i].types[0] == "locality" ) {
        hash = e[i]
       }
     }
     if( hash ) { 
      return hash.formatted_address 
     }
     })(),
     country = (function () {
      for(var i in e) {
       if( e[i].types[0] == "country" ) { return e[i].formatted_address }
      }
     })(), city
     if( address ) {
      city = address.split(",")[0]
     }
     loc.set({
      city: city,
      country: country,
      latitude: mapEvent.latLng.lat(),
      longitude: mapEvent.latLng.lng()
     })
    })
   })
   document.getElementById("location-title").addEventListener("change", function (e) {
    loc.set({title:e.currentTarget.value})
    window.loc = loc
   })
  })
 </script>
<% end %>
