<div id="location-fields" data-location_type="<%= location.location_type.to_json %>" data-user="<%= location.user.to_json  %>" data-json="<%= location.to_json %>" class="location">
  <section id="server-messages"></section>
 <section id="location-photo">
  <img src="<%= location.photo_url %>" />
  <%= tag :input, :value => location ? location.photo_url : "", :name => "location[photo_url]", :type => "hidden" %>
 </section>
 <section id="location-meta">
  <%= tag :input, :id => "location-title", :placeholder => "Title", :value => location ? location.title : "", :name => "location[title]" %>
  <select id="location-location_type_id">
    <% current_user.location_types.each do |loc_type| %>
      <option<%= ' selected="selected"' if loc_type == location.location_type %> value="<%= loc_type.id %>"><%= loc_type.title %></option>
    <% end %>
  </select>
  <textarea id="location-summary"><%= location.summary %></textarea>
  <section id="location-geo">
   <%= tag :input, :id => "location-city", :placeholder => "City", :value => location ? location.city : "", :name => "location[city]" %>
   <%= tag :input, :id => "location-state", :placeholder => "State", :value => location.state, :name => "location[state]" %>
    <span id="location-country_name"><%= location.country_name %></span>
   <%= tag :input, :type => "hidden", :id => "location-country_id", :value => location.country_id, :name => "location[country_id]" %>
   <%= check_box "location", "has_visited", :checked => location && location.has_visited === true ? "checked" : "", :id => "location-has_visited" %>
   <label for="location-visited">Visited?</label>
  </section>
  <section id="location-mashup">
   <label>Flickr Set:</label>
   <%= tag :input, :type => "text", :id => "location-flickr_set", :placeholder => "Flickr", :value => location ? location.flickr_set : "", :name => "location[flickr_set]" %>
   <label>KML Url:</label>
   <%= tag :input, :type => "text", :placeholder => "KML", :id => "location-kml_url", :value => location ? location.kml_url : "", :name => "location[kml_url]" %>
  </section>
  <section id="location-geo">
   <label>Latitude:</label>
   <input type="text" id="location-latitude" value="<%= location.latitude %>" />
   <label>Longitude:</label>
   <input type="text" id="location-longitude" value="<%= location.longitude %>" />
  </section>
  <input type="submit" value="Save" /> 
 </section>
 <section id="flickr-photos">
  <ul>
 
  </ul>
 </section>
 <section id="location-map" style="height:500px"></section>
 <br class="clear" />
</div>

<% content_for :scripts_footer do %>
 <%= javascript_include_tag "admin/admin" %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
  
  var loc = new Location(JSON.parse(document.getElementById("location-fields").getAttribute("data-json"))),
  locType = new LocationType(JSON.parse(document.getElementById("location-fields").getAttribute("data-location_type"))),
  user = new User(JSON.parse(document.getElementById("location-fields").getAttribute("data-user")))
  loc.setLocationType(locType)
  loc.setUser(user)

  var form = new LocationForm({
   el: document.getElementById("location-form"),
   model: loc
  }).render()

  })
 </script>
<% end %>
