<div id="location-fields" data-location_type="<%= location.location_type.to_json %>" data-user="<%= location.user.to_json  %>" data-json="<%= location.to_json %>" class="location">
  <p id="server-messages" class="messages"></p>
  <fieldset class="autoclear">
    <figure id="location-photo">
      <img src="<%= location.photo_url %>" />
      <%= tag :input, :value => location.photo_url, :name => "location[photo_url]", :type => "hidden" %>
      <figcaption>Change Photo</figcaption>
    </figure>
    <fieldset>
      <%= tag :input, 
        :id => "location-title", 
        :class => "title",
        :placeholder => "Title", 
        :value => location.title, 
        :name => "location[title]" %>
      <p class="note">The title of your trip. This will be the text that links to this trip across the site.</p>
      <label for="location-location_type_id">Filed under:</label>
      <select id="location-location_type_id">
        <% current_user.location_types.each do |loc_type| %>
          <option<%= ' selected="selected"' if loc_type == location.location_type %> value="<%= loc_type.id %>">
            <%= loc_type.title %>
          </option>
        <% end %>
      </select>
    </fieldset>
  </fieldset>
  <fieldset>
    <div class="field">
      <label>Description</label>
      <input type="text" id="location-description" value="<%= location.description %>" />
      <p class="note">This will appear as the heading for your journal entries</p>
    </div>
  </fieldset>
  <fieldset>
    <div class="field">
      <label for="location-summary">Summary</label>
      <p class="note">A short description summarizing your trip</p>
      <textarea id="location-summary"><%= location.summary %></textarea>
    </div>
  </fieldset>
  <fieldset id="location-mashup">
   <label>Flickr Set</label>
   <%= tag :input, 
    :type => "text", 
    :id => "location-flickr_set", 
    :placeholder => "Flickr", 
    :value => location.flickr_set, 
    :name => "location[flickr_set]" %>
    <p class="note">The ID of the flickr set with pictures of this trip.</p>
  </fieldset>
  <fieldset>
    <label>KML Url</label>
    <%= tag :input, :type => "text", :placeholder => "KML", :id => "location-kml_url", :value => location ? location.kml_url : "", :name => "location[kml_url]" %>
    <p class="note">Upload your tracks to Google Maps and display them on the site</p>
  </fieldset>
  <fieldset id="location-geo">
    <fieldset>
      <p class="note">Where was your trip? You can fill in the data or use the map to select.</p>
      <%= tag :input, :id => "location-city", :class => "ib", :placeholder => "City", :value => location.city, :name => "location[city]" %>
      <%= tag :input, :id => "location-state", :class => "ib", :placeholder => "State", :value => location.state, :name => "location[state]" %>
      <%= render "global/country_field", :object => location, :object_type => "location" %>
      <%= check_box "location", "has_visited", :checked => location && location.has_visited === true ? "checked" : "", :id => "location-has_visited" %>
      <label for="location-visited">Visited?</label>
    </fieldset>
    <fieldset>
      <label>Latitude:</label>
      <input type="text" id="location-latitude" class="ib" value="<%= location.latitude %>" />
      <label>Longitude:</label>
      <input type="text" id="location-longitude" class="ib" value="<%= location.longitude %>" />
    </fieldset>
    <a class="show-map">Show map</a>
  </fieldset>
  <input type="submit" value="Save" />
  <br class="clear" />
</div>

<% content_for :scripts_footer do %>
 <%= javascript_include_tag "admin/admin" %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
  
  var loc = new Location(JSON.parse(document.getElementById("location-fields").getAttribute("data-json"))),
  locType = new LocationType(JSON.parse(document.getElementById("location-fields").getAttribute("data-location_type"))),
  user = new User(JSON.parse(document.getElementById("location-fields").getAttribute("data-user")))
  loc.setLocationType(locType)
  loc.setUser(user)

  var form = new LocationForm({
   el: document.getElementById("location-form"),
   model: loc
  }).render()

  })
 </script>
<% end %>
