<article id="location" data-json="<%= @location.to_json %>">
	<header>
		<h1>
			<%= link_to user_path(@location.user.slug) do %>
				<%= image_tag @location.user.photo_url, :class => "rounded-large" %>
				<%= @location.user.name %>'s<% end %> trip
			<% if @location.title %>
				<%= location_string(@location) %>
			<% else %>
				<%= @location.geo_string %>
			<% end %>
		</h1>
	</header>
	<section id="photo-upload">
		<div id="photo-container"></div>
		<input type="file" multiple="multiple" />
	</section>
	<input type="button" id="save" />
	<figure id="map"></figure>
<!--
	<section id="user" class="autoclear">
		<%= link_to user_path(@location.user.slug), { :class => "autoclear" } do %>
			<img src="<%= @location.user.photo.url %>" />
			<h1><%= @location.user.name %></h1>
		<% end %>
	</section>
-->
	<%= render "locations/photos", :photos => @location.photos %>
	<section id="journal_entries">
		<ul>
			<% @location.journal_entries.each do |entry| %>
				<li><%= entry.title %></li>	
			<% end %>
		</ul>
	</section>
	<br class="clear" />
</article>

<% content_for :scripts_footer do %>
	<% if current_user.owns?(@location) %>
		<%= javascript_include_tag "admin/admin" %>
		<script>
			window.addEventListener("DOMContentLoaded", function () {
				var loc = Location.createFromDataAttribute( document.getElementById("location") );
				loc.setUser(TA.currentUser);
				var photoUploader = new PhotoUploader({
			      model:loc,
			      el:document.querySelector("#photo-upload input"),
			      previewElem:document.querySelector("#photo-container")
			    });

			    photoUploader.render();

			    document.getElementById("save").addEventListener("click", function () {
			    	photoUploader.uploadFiles();
			    })

			})
		</script>
	<% end %>
	<script>

	window.addEventListener("DOMContentLoaded", function () {

		var loc = Location.createFromDataAttribute( document.getElementById("location") ),
		map = new google.maps.Map(document.getElementById("map"), {
			disableDefaultUI: true,
			zoom: 4,
			center: new google.maps.LatLng(loc.get("latitude"), loc.get("longitude")),
			mapTypeId: google.maps.MapTypeId.HYBRID
			}),
		gallery = null

		new LocationMarker({
		model:loc,
		map:map,
		}).render();

		if( !document.getElementById("photos") ) { return }
		var locationPhotos = document.getElementById("photos").querySelectorAll("figure"),
		hero = document.getElementById("photos").querySelector(".hero"),
		heroIndex = (function () {
			var index = 0;
			[].forEach.call(locationPhotos, function (photo, i) {
				if( photo == hero ) {
					index = i
				}
			})

			return index;
		})();


		var shuffleHash = {
			el:document.getElementById("photos"),
			hero:hero,
			elements:Array.prototype.slice.call(locationPhotos, 0, 30),
			heroClick: function () {
				if( !gallery ) {
					gallery = new Gallery({
							el:shuffleHash.el,
							photos:locationPhotos,
							selectedIndex:heroIndex,
							onClose:function () {
								gallery = null
								
							}
						}).render()
				}
			},
			elementClick: function (event, options) {
				if( !gallery ) {
					gallery = new Gallery({
							el:shuffleHash.el,
							photos:locationPhotos,
							selectedIndex:options.index,
							onClose:function () {
								gallery = null
								
							}
						}).render()
				}
			},
			elementShouldPosition: function (options) {
				var photo = options.element.querySelector("img")
				if( photo.width != 0 ) {
					options.callback()
				} else {
					photo.onload = function () {
						options.callback()
					}
				}
			}
		}

		new ShuffledElements(shuffleHash).render()

		})
	</script>
<% end %>
