<article id="location" data-json="<%= @location.to_json %>">
 <header>
  <h2 id="location-title"><%= @location.title %></h2>
 </header>
 <figure id="hero-gallery">
  <%= image_tag @location.photo_url, :id => "hero-large" %>
  <div id="location-photos">
   <ul id="location-thumbs">
 
   </ul>
  </div>
 </figure>
 <section id="journal_entries">
  <% @location.journal_entries.each do |entry| %>
   <%= render "journal_entry", :entry => entry %>
  <% end %>
  <% if current_user.owns?(@location) %>
   <%= link_to "Add new journal entry for #{@location.title}", new_user_location_type_location_journal_entry_path({
    :user_id => current_user.slug,
    :location_type_id => @location.location_type.slug,
    :location_id => @location.slug
    }), :class => "new-journal-entry-link"
   %>
  <% end %>
 </section>
 <% if current_user.owns?(@location) %>
  <section class="toolbox">
   <%= link_to "Edit", edit_location_path(@location) %>
  </section>
 <% end %>
</article>
<aside id="geo-data">
 <section id="location-political-geo">
  <%= @location.city %>, <%= @location.country %>
 </section>
 <figure id="map"></figure>
</aside>


<% content_for :scripts_footer do %>
 <script>
  window.addEventListener("DOMContentLoaded", function () {
   var location = new Location( JSON.parse( document.getElementById("location").getAttribute("data-json") ) )
   map = new google.maps.Map(document.getElementById("map"), {
    zoom: 11,
    center: new google.maps.LatLng(location.get("latitude"),location.get("longitude")),
    mapTypeId: google.maps.MapTypeId.HYBRID
   });
  
   location.photos({
    success:function (e) {
     var ul = document.getElementById("location-thumbs"),
     largeImage = document.getElementById("hero-large")
     e.photoset.photo.forEach(function (photo) {
      var image = new FlickrImage(photo),
      li = document.createElement("li"),
      img = document.createElement("img"),
      ulWidth = ul.offsetWidth
      img.setAttribute("src", image.url("s"))
      li.appendChild(img)
      ul.appendChild(li)
      ul.style.width = ulWidth + li.offsetLeft + "px"
      img.addEventListener("click", function () { 
       largeImage.setAttribute("src", image.url()) 
      })
     })
    }
   }) 
  })
 </script>
<% end %>
