<!DOCTYPE html>
<html>
	<head>
		<title><%= "#{@page_title} - " if @page_title %>TravelAddict</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssgrids/grids-min.css">
		<%= yield :stylesheets_header %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>
		<script src="http://yui.yahooapis.com/2.9.0/build/cookie/cookie-min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= CONFIG['google_maps']['key'] %>&sensor=false"></script>
		<%= render "global/og_tags" %>
		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body class=" <%= params[:controller].gsub("/", "-") %>-<%= params[:action] %> ">
		<%= render "global/facebook" %>
		<header id="site-header" class="autoclear">
			<%= render "users/ribbon" %>
			<h1 id="site-title"><%= link_to "TravelAddict", root_path %></h1>
		</header>
		<%= render_admin_ribbon %>
		<% if !welcome_screen? && @user %>
			<%= render "users/header", :user => @user %>
		<% end %>
		<div id="container" class="grid-20-75 autoclear">
			<%= yield %>
			<%= yield :below_content %>
		</div>
		<script>
			window.TA = {
			config: <%= config_json.html_safe %>
			}
		</script>
		<%= javascript_include_tag "application" %>
		<% if !current_user.anonymous? %>
			<%= javascript_include_tag "admin/admin" %>
		<% end %>
		<%= yield :scripts_footer %>
		<% if Rails.env == "production" %>
			<script>
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-31293401-1']);
				_gaq.push(['_trackPageview']);

				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		<% end %>
	</body>
</html>
