<!DOCTYPE html>
<html>
 <head>
  <title>Dave &amp; Melissa's Adventures</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssgrids/grids-min.css">
  <%= yield :stylesheets_header %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
 </head>
 <body class="<%= params[:controller] %>-<%= params[:action] %>">
  <div id="fb-root"></div>
  <div id="container">
   <header id="site-header">
    <h1 id="site-title">
      <%= link_to "Dave & Melissa's Adventures", root_path %>
    </h1>
    <%= render "global/locations_nav", :locations => locations_nav, :selected => @location %>
   </header>
   <section id="content">
    <%= yield %>
   </section>
   <br class="clear" />
   <footer></footer>
  </div>
  <%= javascript_include_tag "application"%>
  <%= yield :scripts_footer %>
 </body>
</html>
