<!DOCTYPE html>
<html>
 <head>
  <title>Dave &amp; Melissa's Travel Blog</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssgrids/grids-min.css">
  <%= yield :stylesheets_header %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
 </head>
 <body class="<%= params[:controller] %>-<%= params[:action] %>">
  <div id="fb-root"></div>
  <header id="site-header">
   <h1 id="site-title"><%= link_to "Dave and Melissa's Travel Blog", root_path %></h1>
  </header>
  <nav id="locations-nav">
   <ul>
    <% locations_nav.each do |location| %>
     <li>
      <%= link_to location_path(location), { 
       "data-location_type" => location.location_type.to_json, 
       "data-json" => location.to_json,
       "data-user" => location.user.to_json,
       "class" => "location" } do %>
        <h2 class="location-title">
         <%= location.city %>
        </h2>
        <%= image_tag location.photo_url %> 
      <% end %>
     </li> 
    <% end %>
   </ul>
  </nav>
  <section id="content">
   <%= yield %>
  </section>
  <br class="clear" />
  <footer></footer>
  <%= javascript_include_tag "underscore", "backbone", "models", "collections", "views" %>
  <script>
   var scroller = new Scroller({
    el:document.getElementById("locations-nav"),
    items:document.getElementById("locations-nav").getElementsByTagName("li"),
    container: document.getElementById("locations-nav").getElementsByTagName("ul").item(0)
   }).render()
  </script>
  <%= yield :scripts_footer %>
 </body>
</html>
