<!DOCTYPE html>
<html>
	<head>
		<title><%= "#{@page_title} - " if @page_title %>TravelAddict</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssgrids/grids-min.css">
		<%= yield :stylesheets_header %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>
		<script src="http://yui.yahooapis.com/2.9.0/build/cookie/cookie-min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= CONFIG['google_maps']['key'] %>&amp;sensor=false"></script>
		<%= render "global/og_tags" %>
		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body class=" <%= params[:controller].gsub("/", "-") %>-<%= params[:action] %> ">
		<%= render "global/facebook" %>
		<header id="site-header">
			<h1 id="site-title"><%= link_to "TravelAddict", root_path %></h1>
			<nav id="site-nav">
				<ul>
					<li><%= link_to "Blog", root_path %></li>
					<li><%= link_to "Trips", user_path(:id => User.dave.slug) %></li>
					<li><%= link_to "Map", user_maps_path(:user_id => User.dave.slug) %></li>
					<li><%= link_to "Photos", user_photos_path(:user_id => User.dave.slug) %></li>
					<% if !current_user.anonymous? %>
						<li><%= link_to "Logout", logout_path %></li>
					<% end %>
				</ul>
			</nav>
		</header>
		<%= render_admin_ribbon %>
		<div id="container" class="autoclear">
			<div class="right-col">
				<% if @user %>
					<section id="user" class="user" data-json="<%= @user.to_json %>">
						<figure class="user-photo rounded">
							<img src="<%= User.dave.photo.large %>" width="200" height="200" />
							<figcaption class="user-photo-caption">
								<h1>Welcome to TravelAddict. Melissa and I love to travel and love to share our travels.</h1>
							</figcaption>
						</figure>
						<section class="user-trips">
							<ul class="user-trips-summary">
								<li><%= @user.trips.count %> Trips</li>
								<li><%= @user.countries_count %> Countries</li>
								<li><%= @user.photos.count %> Photos</li>
								<li><%= @user.maps.count %> Maps</li>
							</ul>
							<h1 class="user-trips-title">Places we've visited</h1>
							<ul>
								<% @user.ordered_trips.each do |trip| %>
									<li><%= link_to trip.title, user_trip_path(:user_id => trip.user.slug, :id => trip.slug), :class => "trip" %></li>
								<% end %>
							</ul>
						</section>
					</section>
				<% end %>
				<%= yield :right_col %>
			</div>
			<div class="left-col">
				<%= yield %>
			</div>
		</div>
		<script>
			window.TA = {
			config: <%= config_json.html_safe %>
			}
		</script>
		<%= javascript_include_tag "application" %>
		<% if !current_user.anonymous? %>
			<%= javascript_include_tag "admin/admin" %>
		<% end %>
		<%= yield :scripts_footer %>
		<% if Rails.env == "production" %>
			<script>
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-31293401-1']);
				_gaq.push(['_trackPageview']);

				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		<% end %>
	</body>
</html>
