<!DOCTYPE html>
<html>
 <head>
  <title><%= "#{@page_title} - " if @page_title %>TravelAddict</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssgrids/grids-min.css">
  <%= yield :stylesheets_header %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= render "global/og_tags" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
 </head>
 <body class="<%= params[:controller] %>-<%= params[:action] %>">
  <%= render "global/facebook" %>
  <header id="site-header" class="autoclear">
    <%= render "users/ribbon" %>
    <h1 id="site-title">
      <%= link_to "TravelAddict", root_path %>
    </h1>
  </header>
  <div id="container">
     <section id="content">
      <%= yield %>
     </section>
     <br class="clear" />
     <footer>
      
     </footer>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts_footer %>
    <% if Rails.env == "production" && params[:controller] != "users" %>
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31293401-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </div>
 </body>
</html>
